body {
    background: fixed !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url(https://www.nkxingxh.top/backgrounds/rand.php) !important;
}

@media (max-width: 900px) {
    body {
        background-image: url(https://www.nkxingxh.top/backgrounds/rand.php?p=1) !important;
        background-size: cover !important;
    }
}

.user-container {
    background: rgb(255 255 255 / 70%) !important;
}
